<br>
<br>
<br>
<div class="Conditions">
  <input [(ngModel)]="eMin"  placeholder="Min"/>
  <input [(ngModel)]="eMax"  placeholder="Max"/>
  <input [(ngModel)]="eMs"  placeholder="Milliseconds"/>
  <input [(ngModel)]="eFrDig"  placeholder="Fraction Digits"/>
  <input [(ngModel)]="eDecSep"  placeholder="Decimal Separator"/>
  <input [(ngModel)]="eGrSep"  placeholder="Group Separator"/>
  <input [(ngModel)]="evalue"  placeholder="Value"/>
</div>
<br>
<div class="content">
  <app-number-input   [value]="evalue" (valueChange)="eChange($event)"  [min]="eMin" [max]="eMax"  [milliSeconds]="eMs" [fractionDigits]="eFrDig" [decimalSeparator]="eDecSep" [groupSeparator]="eGrSep"  class="editable"></app-number-input>
  <br>
  <br>
  <div>
    <input [(ngModel)]="dMin"  placeholder="Min"/>
    <input [(ngModel)]="dMax"  placeholder="Max"/>
    <input [(ngModel)]="dMs"  placeholder="Milliseconds"/>
    <input [(ngModel)]="dFrDig"  placeholder="Fraction Digits"/>
    <input [(ngModel)]="dDecSep"  placeholder="Decimal Separator"/>
    <input [(ngModel)]="dGrSep"  placeholder="Group Separator"/>
    <input [(ngModel)]="dvalue"  placeholder="Value"/>
  </div>
  <br>
  <app-number-input [value]="dvalue" (valueChange)="dChange($event)"  [min]="dMin" [max]="dMax"  [milliSeconds]="dMs" [fractionDigits]="dFrDig" [decimalSeparator]="dDecSep" [groupSeparator]="dGrSep" [disabled]="true" class="diabled"></app-number-input>
  <br>
  <br>
  <div>
    <input [(ngModel)]="rMin"  placeholder="Min"/>
    <input [(ngModel)]="rMax"  placeholder="Max"/>
    <input [(ngModel)]="rMs"  placeholder="Milliseconds"/>
    <input [(ngModel)]="rFrDig"  placeholder="Fraction Digits"/>
    <input [(ngModel)]="rDecSep"  placeholder="Decimal Separator"/>
    <input [(ngModel)]="rGrSep"  placeholder="Group Separator"/>
    <input [(ngModel)]="rvalue"  placeholder="Value"/>
  </div>
  <br>
  <app-number-input [value]="rvalue" (valueChange)="rChange($event)"  [min]="rMin" [max]="rMax"  [milliSeconds]="rMs" [fractionDigits]="rFrDig" [decimalSeparator]="rDecSep" [groupSeparator]="rGrSep" class="readonly" [readonly]="  true" ></app-number-input>
</div>
