<div class="input-group mb-3" style="width: 100%;display: inline-block;margin: 0 !important;
">
  <div class="input-group-prepend">
    <span class="input-group-text"
          id="basic-addon1">{{(!readonly && !disabled) ? 'Editable Mode' : ''}} {{(!readonly && disabled) ? 'Disabled Mode' : ''}} {{(readonly) ? 'Readonly Mode' : ''}}</span>
    <input #input (keypress)="onInputChange()" [ngClass]="(model.valid)?'':'form-control is-invalid'"
           [(ngModel)]="model.currentValue" *ngIf="!readonly; else readonlyMode" [disabled]="disabled" type="text"
           class="form-control" [placeholder]="(disabled)?'Input is disabled':'Type number'"/>
    <br>
  </div>
  <ng-template #readonlyMode>
    <label class="input-group-text ReadonlyLabel">{{model.currentValue}}</label>
  </ng-template>

  <span *ngIf="!model.valid" style="color: red" class="is-invalid ">Something is wrong, check conditions</span>

</div>
